.task {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: .4em;
    font-size: 1.2em;
    padding: 1em .7em;
    margin: .3em 0;
}
.task-label {
    margin-left: .3em;
    
  }
#icon-basket{
  /* color: red; */
  background-color: red;
  font-size: 1.2em;
  /* margin-left: 250px; */
  margin: 3px 150px 0;
 
}
.task--done {
    opacity: 5;
    text-decoration: line-through;
  }
