.task {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: .4em;
    font-size: 1.2em;
    padding: 1em .7em;
    margin: .3em 0;
}
.task-label {
    margin-left: .3em; 
  }
#icon-basket{
  margin: 0 .2em;
  float: right;
  cursor: pointer; 
}
#icon-basket :hover{
  color: red;
}
.task--done {
    opacity: 5;
    text-decoration: line-through;
}
